

  body {
            
  
    background-image: linear-gradient();
    padding: 25px;
        
        color: black;
        font-size: 25px;
        
      }
      
      .dark-mode {
        background-color: black;
        color: white;
      }
      .buttonMode{
         color: whitesmoke;
         background-color: rgb(133, 128, 128);
         position: absolute;
            top: 10px;
            right: 10px;
            width: 20px;
            height: 25px;
        
      }

      .skills-image{
        width: 15%;
        height: 15%;
        padding-top: 15%;
       float: left;
       animation: mymove 5s infinite;
      }
         
      
      button1{
        color: rebeccapurple;
      }
      h1{
          text-align: center;
          
          position: relative;
            /* left: 40px; */
            color: brown;
           
            

      }
      h1.hover {
                transform: rotateY(360deg);
                transition: none;
      }

      .titleHeading {
        text-align: center;
        top: 250px;
        position: relative;
          left: 40px;
          color: brown;
      }

      #contactPage {
        margin-top: 30px;
      }


      .rowImg {
        height: 300px;
        display: inline;
        flex-wrap: wrap;
        padding: 0 4px;
        margin: 10px auto;
      }
      
      .columnImg {
        flex: 100%;
        max-width: 100%;
      }
      
      .columnImg img {
        vertical-align: middle;
      }
      
      .containerImg {
        position: relative;
        width: 100%;
      }
      
      .image {
        display:block;
        width: 300px;
        height: auto;
      }
      .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: 0.5s ease;
        background-color: black;
      }
      
      .containerImg:hover .overlay {
        opacity: 0.5;
      }
      
#mySidenav a {
  position: fixed;
  left: -80px;
  transition: 0.3s;
  padding: 15px;
  width: 100px;
  text-decoration: none;
  font-size: 15px;
  color: white;
  border-radius: 0 5px 5px 0;
}

.row2 {
  width: 90%;
  margin: 0px auto;
}

.row {
  width: 90%;
  margin: 0 auto;
}

.row2 h2 {
  font-size: 20px;
}

.row2 p {
  font-size: 16px !important;
}

.column2 {
  float: left;
  width: 25%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
  margin: 0px 30px;

}

#mySidenav a:hover {
  left: 0;
}

#home {
  top: 20px;
  background-color: #04AA6D;
}

#about {
  top: 80px;
  background-color: #e7f526;
}

#workexp {
  top: 140px;
  background-color: #2196F3;
}

#projects {
  top: 200px;
  background-color: #f44336;
}

#contact {
  top: 320px;
  background-color: #555
}

#technicalskills {
  top: 260px;
  background-color: rgb(255, 188, 188)
}

img {
  float: left;
}

/* .home{
  height: 230px !important;
} */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #ffffff;
}

.timeline {
  background-color:gray;
  position: relative;
  width: 80%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 60px 0;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 2px;
  background: blueviolet;
  
  left: 50%;
  
}

.container {
  padding: 15px 30px;
  position: relative;
  background: inherit;
  /* width: 50%; */
}

.container.left {
  left: 0;
}

/* .container.right {
  left: 50%;
} */

.container::after {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  top: calc(50% - 8px);
  right: -8px;
  background: #ffffff;
  border: 2px solid black;
  border-radius: 16px;
  z-index: 1;
}

.container.right::after {
  left: -8px;
}

.container::before {
  content: '';
  position: absolute;
  width: 50px;
  height: 2px;
  top: calc(50% - 1px);
  right: 8px;
  background:black;
  z-index: 1;
}

.container.right::before {
  left: 8px;
}

.container .date {
  position: absolute;
  display: inline-block;
  top: calc(50% - 8px);
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: #006E51;
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index: 1;
}
.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: #eee;
}
.breadcrumb li {
  display: inline;
  font-size: 18px;
}
.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}
.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}
.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

.container.left .date {
  right: -75px;
}

.container.right .date {
  left: -75px;
}

.container .icon {
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 40px;
  padding: 9px 0;
  top: calc(50% - 20px);
  background: white;
  border: 2px solid #006E51;
  border-radius: 40px;
  text-align: center;
  font-size: 18px;
  color: #006E51;
  z-index: 1;
}

.container.left .icon {
  right: 56px;
}

.container.right .icon {
  left: 56px;
}

.container .content {
  padding: 30px 90px 30px 30px;
  background:#2196F3;
  position: relative;
  border-radius: 0 500px 500px 0;
}

.container.right .content {
  padding: 30px 30px 30px 90px;
  border-radius: 500px 0 0 500px;
}

.container .content h2 {
  margin: 0 0 10px 0;
  font-size: 18px;
  font-weight: normal;
  color: white;
}

.container .content p {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
}

.section-2 {
  margin-top:40px;
  margin-bottom:10px; 
  height: 100%;
}

.rotating-imgs {
  padding-left: 100px;
   height: 300px;
}

@media (max-width: 600px) {
  .rotating-imgs {
    padding-left: 100px;
     height: 100px;
  }
}


@media (max-width: 450px) {
 .timeline::after {
    left: 90px;
  }

  .container {
    width: 100%;
    padding-left: 100px;
    padding-right: 10px;
  }

  .container.right {
    left: 0%;
  }

  .container.left::after, 
  .container.right::after {
    left: 82px;
  }

  .container.left::before,
  .container.right::before {
    left: 100px;
    border-color: transparent #006E51 transparent transparent;
  }

  .container.left .date,
  .container.right .date {
    right: auto;
    left: 15px;
  }

  .container.left .icon,
  .container.right .icon {
    right: auto;
    left: 146px;
  }

  .container.left .content,
  .container.right .content {
    padding: 30px 30px 30px 90px;
    border-radius: 500px 0 0 500px;
  }
	 
  }
}


@media (max-width: 767.98px) {

  .section-2 {
    margin-top:20px;
    margin-bottom:10px; 
  }

  .rotating-imgs {
    padding-left: 100px;
     height: 200px;
  }

  .skills-image{
    width: 15%;
    height: 15%;
    padding-top: 15%;
   float: left;
   animation: mymove 5s infinite;
  }

  .column {
    float: left;
    width: 90%;
    display: flex;
  }
  

  .row2 h2 {
    font-size: 20px;
  }
  
  .row2 p {
    font-size: 16px !important;
  }
  .pagination_rounded,
.pagination_square {
    display: inline-block;
    margin-left: 400px;
    margin-top: 300px
}

.pagination_rounded ul {
    margin: 0;
    padding: 0;
    list-style: none
}

.pagination_rounded li:first-child {
    margin-left: 0px
}

.pagination_rounded ul li {
    float: left;
    margin-left: 20px
}

.pagination_rounded ul li a:hover {
    background: #4285f4;
    color: #fff;
    border: 1px solid #4285f4
}

a:link {
    text-decoration: none
}

.pagination_rounded .prev {
    margin-left: 0px;
    border-radius: 35px;
    width: 90px;
    height: 34px;
    line-height: 34px
}

.pagination_rounded ul li a {
    float: left;
    color: #4285f4;
    border-radius: 50%;
    line-height: 30px;
    height: 30px;
    width: 30px;
    text-align: center;
    margin-bottom: 40px;
    border: 1px solid #e0e0e0
}

.pagination_rounded .prev i {
    margin-right: 10px
}

.pagination_rounded .next {
    border-radius: 35px;
    width: 90px;
    height: 34px;
    line-height: 34px
}

.visible-xs {
    display: none !important
}

  

  .column2 {
    float: left;
    width: 80%;
    padding: 10px;
    height: auto;
    margin: 0px auto;
  
  }

  .section-2 h2 {
    font-size: 18px;
  }

  .section-2 p {
    font-size: 14px;
  }

  /* .home{
    height: 400px !important;
  } */

  .timeline::after {
    left: 90px;
  }

  .container {
    width: 100%;
    padding-left: 120px;
    padding-right: 30px;
  }

  .container.right {
    left: 0%;
  }

  .container.left::after, 
  .container.right::after {
    left: 82px;
  }

  .container.left::before,
  .container.right::before {
    left: 100px;
    border-color: transparent #006E51 transparent transparent;
  }

  .container.left .date,
  .container.right .date {
    right: auto;
    left: 15px;
  }

  .container.left .icon,
  .container.right .icon {
    right: auto;
    left: 146px;
  }

  .container.left .content,
  .container.right .content {
    padding: 30px 30px 30px 90px;
    border-radius: 500px 0 0 500px;
  }
}


@media (max-width: 1000px) {

  .section-2 {
    margin-top:20px;
    margin-bottom:10px; 
  }


  .skills-image{
    width: 15%;
    height: 15%;
    padding-top: 15%;
   float: left;
   animation: mymove 5s infinite;
  }

  .row h2 {
    font-size: 20px;
  }

  .row p {
    font-size: 16px !important;
  }


  .column {
    float: left;
    width: 90%;
    display: flex;
  }

  .row h2 {
    font-size: 20px;
  }

  .row p {
    font-size: 16px !important;
  }


  .row2 h2 {
    font-size: 20px;
  }
  
  .row2 p {
    font-size: 16px !important;
  }


  /* .home{
    height: 500px !important;
  } */

  .column2 {
    float: left;
    width: 50%;
    padding: 10px;
    height: auto;
    margin: 0px auto;
  
  }
  
  
}


.workImg{
  width: 100px;
  height: 100px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


.projectsSection p {
  font-size: 18px;
  margin-left: 20px;
}


.contact p {
  font-size: px;
}

.skills-image{
  width: 15%;
  height: 15%;
  padding-top: 15%;
 float: left;
 animation: mymove 5s infinite;
}
   
@keyframes mymove {
  50% {transform: rotate(180deg);}
}
.technicalskills{
    position: static;
     margin: auto; 
     inset: 0px auto auto 0px; 
     box-sizing: border-box;
}

.technicalSkillRow{
  position:relative;
  width:98%;
  text-align: center;
  padding-top: 5%;
}
.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.footer a:active,
.footer a:hover {
    color: #4b5664
}

.footer {
  color: red
}

.footer a {
  text-decoration: none;
  margin: 0;
  color: #fff
}

.footer {
  background:black;
  padding: 5px 0;
  margin-top: 20px;
  text-align: center;
  color: #fff
}